/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: LightGray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	border: 1px solid Chocolate;
}

.header .header-list li {
	display: inline-block;
	margin-left: 1.563rem;
}
.header .header-list .active {
	color: #4c5058;
	font-weight: 500;
}
.header .header-list li:hover {
	color: #333333;
	cursor: pointer;
}
.header .header-list {
	float: right;
	font-family: "Roboto", sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;
}
.header {
	padding-right: 6em;
	padding-left: 6em;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.background-image {
  background-image: url("images/karma-background.jpg")
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
  background-position: center bottom;
}
.background-image .p1 {
	color: white;
	text-align: center;
	font-weight: 300;
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.background-image .p2 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.background-image .p3 {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	line-height: 1.33;
	text-align: center;
}

.background-image .p3:hover {
	border-color: #CC4A14: 
	background-color: #CC4A14;
	cursor: pointer;
}
.body{
	display: block;
	padding-bottom: 5rem;
	margin-top: 7.875rem;
	vertical-align: baseline;
	box-sizing: border-box;
	height: 4em;
	border: 1px solid black;
}
.image-list > li{
	display: inline-block;
	width: 33.33333%;
	text-align: center;
	float: left;
}
.slogan-list > li {
	display: inline-block;
	text-align: center;
	width: 33.3333%;
	float: left;
	color: #1d1e21;
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0px 1.875rem;
}
.body > .p1 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
	text-align: center;
}